* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
}

#bg {
    background-image: url('/static/images/background1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh; 
}


.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #182f7b;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.change-info-form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 15px 25px;
    background-color: #1f5fd7;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #1f5fd7;
}

.messages {
    margin-bottom: 20px;
}

.alert {
    padding: 15px;
    margin-bottom: 5px;
    background-color: #173a78;
    color: #2e43ba;
    border: 2px solid #173a78;
    border-radius: 6px;
}
h1{
    color: #fff;
}