body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Changed to match profile.css */
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.profile-details {
    margin: 50px auto;
    max-width: 600px;
    background-color: #182f7b; /* Changed to match main.css */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-details table {
    width: 100%;
}

.profile-details table tr td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.profile-details table tr:last-child td {
    border-bottom: none;
}

.profile-details table tr td:first-child {
    width: 40%;
    font-weight: bold;
    color: #fff; /* Changed to match main.css */
}

.profile-details table tr td:last-child {
    width: 60%;
    color: #fff; /* Changed to match main.css */
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1f5fd7; /* Changed to match main.css */
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.home-button:hover {
    background-color: #1f5fd7; /* Changed to match main.css */
}
#bg {
    background-image: url('/static/images/background1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh; 
}



